

.search {
	width: 100%;
    display: flex;
    align-content: center;
	background-color: lightgrey;
	padding: 0.5em;
	height: 50px;
}

.searchbar {
	width: 60%;
	padding-left: 1em;
	border: 3px solid;
    border-radius: 3em;
    margin-left: 10em;
	outline: none !important;
}

.calender{
    background: rgb(7, 103, 160);
	width: 100%;
    margin-top: 1em;
    margin-right: 5em;
	margin-bottom: 10em;
	height: 60vh;
    overflow: auto;
    border-spacing: 0.5em;
	display: flex;
	flex-wrap: wrap;
	border: 3px solid;
}

.account {
	margin-left: 2em;
    color: white;
    font-size: 1.25em;
    
}
.time-scheduled {
	margin-left: 2.5em;
    font-size: 0.95em;
    color: yellowgreen;
}

.schedule-btns {
	margin: 0 auto;
	width: 85%;
	display: flex;
	justify-content: space-evenly;
}

.contentful {
	margin: 1em;
}


.edit-btn,
.delete-btn {
	width: fit-content;
	padding: 0.15em 1em;
	margin-top: 0.65em;
	font-size: 1em;
	border: none!important;
	outline: none!important;
	color: white!important;
}

.btn{
	outline: none!important;
	font-size: inherit;
}

.edit-btn {
	background-color: rgb(43, 162, 254)!important;
}

.delete-btn {
	background-color: red !important;
}

.edit-btn:hover,
.delete-btn:hover {
	width: fit-content;
	padding: 0.15em 1em;
	margin-top: 0.65em;
	font-size: 1em;
}

.date {
	color: yellow;
	line-height: 1.5em;
    letter-spacing: 1px;
    font-size: 1.3em;
}

.service {
	color: yellow;
	line-height: 1.8em;
    letter-spacing: 1px;
    font-size: 1.3em;
}

.info {
	text-transform: uppercase;
    color: lightgrey;
    font-size: 0.6em;
}

.email-location{
    overflow: hidden;
}

.update-border {
	border: 1px solid #f0f0f0;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.ul {
	padding-left: 0;
}

.list-inline {
	list-style: none;
	display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
}


